$primary-color: #444;
// $secondary-color: #2E8D36;
// $secondary-color: #5AAB61;
$secondary-color: #2abb9b;
$show-home-image: true;
$home-image: url('../img/bg.jpg');
$background-opacity: 0.7;

// Functie genaamd EaseOut om een kleur fade te maken
@mixin easeOut() {
    transition: all 0.5s ease-out;
}

@mixin background{
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            // De CSS gebruikt het after element als een element wat na de parent komt.
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}